@charset "utf-8";
.aihao {
	font-size: 25px;
	font-weight: bolder;
	color: #36F;
}
.xx {
	font-size: 18px;
	font-weight: bolder;
	color: #00F;
}
.otherzt {
	font-size: 25px;
}
.x {
	color: #00F;
}
fxx {
	font-size: 24;
}
#zt33 {
	color: #00F;
}
.gen-18 .ts-1 .ts-1-1 .ts-2 .ts-2-2 .ts-5 .ts-5-3 .ts-7 .ts-7-2 .ts-8 #zt33 strong {
	color: #36F;
}
