.gen-1 {
	line-height: 110%;
}

.ts-1 {
	border: none;
	height: 844px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 1042px;
}

.ts-1-1 {
	border: none;
	height: 838px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 1036px;
}

.ts-2 {
	border: none;
	height: 838px;
	position: relative;
	text-align: left;
	width: 1036px;
}

.ts-2-1 {
	border: none;
	height: 149px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 1030px;
}

.ts-3 {
	border: none;
	height: 149px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-3-1 {
	border: none;
	height: 100px;
	left: 0.19%;
	line-height: 100px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 99.42%;
}

.gen-2 {
	vertical-align: middle;
}

.ts-3-2 {
	border: none;
	height: 35px;
	left: 0.19%;
	padding: 1px;
	position: absolute;
	top: 106px;
	width: 99.42%;
}

.ts-4 {
	border: none;
	height: 35px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-4-1 {
	border: none;
	height: 29px;
	left: 0.20%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 14.16%;
}

.ts-4-2 {
	border: none;
	height: 29px;
	left: 14.75%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-4-3 {
	border: none;
	height: 29px;
	left: 43.16%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-4-4 {
	border: none;
	height: 29px;
	left: 71.58%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-3-3 {
	background-color: #996633;
	border: none;
	height: 0px;
	left: 0.19%;
	line-height: 0px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 145px;
	width: 99.42%;
}

.ts-2-2 {
	border: none;
	height: 615px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 155px;
	width: 1030px;
}

.ts-5 {
	border: none;
	height: 615px;
	position: relative;
	text-align: left;
	width: 1030px;
}

.ts-5-1 {
	border: none;
	height: 581px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 219px;
}

.ts-6 {
	border: none;
	height: 389px;
	margin-top: 96px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-6-1 {
	border: none;
	height: 200px;
	left: 0.92%;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 97.25%;
}

.ts-6-2 {
	border: none;
	height: 18px;
	left: 0.92%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 97.25%;
}

.ts-6-3 {
	border: none;
	height: 18px;
	left: 0.92%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 228px;
	width: 97.25%;
}

.ts-6-4 {
	border: none;
	height: 19px;
	left: 0.92%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 250px;
	width: 97.25%;
}

.ts-6-5 {
	border: none;
	height: 18px;
	left: 0.92%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 273px;
	width: 97.25%;
}

.ts-6-6 {
	border: none;
	height: 90px;
	left: 0.92%;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 295px;
	width: 97.25%;
}

.ts-5-2 {
	background-color: #999999;
	border: none;
	height: 609px;
	left: 225px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 4px;
}

.ts-5-3 {
	border: none;
	height: 609px;
	left: 233px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 793px;
}

.ts-7 {
	border: none;
	height: 556px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-7-1 {
	border: none;
	height: 40px;
	left: 0.25%;
	line-height: 40px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 99.24%;
}

.ts-7-2 {
	border: none;
	height: 506px;
	left: 0.25%;
	padding: 1px;
	position: absolute;
	top: 46px;
	width: 99.24%;
}

.ts-8 {
	border: none;
	height: 474px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-8-1 {
	border: none;
	height: 18px;
	left: 0.26%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 99.23%;
}

.ts-8-2 {
	border: none;
	height: 70px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 24px;
	width: 99.23%;
}

.ts-9 {
	border: none;
	height: 70px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-9-1 {
	background-color: #0066ff;
	border: none;
	height: 19px;
	left: 0.26%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 99.23%;
}

.ts-9-2 {
	background-color: #0066ff;
	border: none;
	height: 18px;
	left: 0.26%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 25px;
	width: 99.23%;
}

.ts-9-3 {
	background-color: #0066ff;
	border: none;
	height: 19px;
	left: 0.26%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 47px;
	width: 99.23%;
}

.ts-8-3 {
	border: none;
	height: 100px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 98px;
	width: 99.23%;
}

.ts-10 {
	border: none;
	height: 70px;
	margin-top: 15px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-10-1 {
	border: none;
	height: 19px;
	left: 0.26%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 99.23%;
}

.ts-10-2 {
	border: none;
	height: 19px;
	left: 0.26%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	top: 25px;
	width: 99.23%;
}

.ts-10-3 {
	border: none;
	height: 18px;
	left: 0.26%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 48px;
	width: 99.23%;
}

.ts-8-4 {
	border: none;
	height: 161px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 202px;
	width: 99.23%;
}

.ts-11 {
	border: none;
	height: 161px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-11-1 {
	background-color: #99cc00;
	border: none;
	height: 49px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 99.23%;
}

.ts-12 {
	border: none;
	height: 49px;
	position: relative;
	text-align: left;
	width: 770px;
}

.ts-12-1 {
	border: none;
	height: 43px;
	left: 2px;
	line-height: 43px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 200px;
}

.ts-12-2 {
	border: none;
	height: 43px;
	left: 206px;
	line-height: 43px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 100px;
}

.ts-12-3 {
	border: none;
	height: 43px;
	left: 310px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 300px;
}

.gen-9 {
	margin-top: 9px;
}

.ts-12-4 {
	border: none;
	height: 43px;
	left: 614px;
	line-height: 43px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 152px;
}

.ts-11-2 {
	background-color: #99cc00;
	border: none;
	height: 49px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 55px;
	width: 99.23%;
}

.ts-13-3 {
	border: none;
	height: 43px;
	left: 310px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 437px;
}

.ts-13-4 {
	border: none;
	height: 43px;
	left: 751px;
	line-height: 43px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 15px;
}

.ts-11-3 {
	background-color: #99cc00;
	border: none;
	height: 49px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 108px;
	width: 99.23%;
}

.ts-8-5 {
	border: none;
	height: 45px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 367px;
	width: 99.23%;
}

.ts-15 {
	border: none;
	height: 45px;
	position: relative;
	text-align: left;
	width: 776px;
}

.ts-15-1 {
	border: none;
	height: 39px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 200px;
}

.ts-15-2 {
	border: none;
	height: 39px;
	left: 206px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 296px;
}

.ts-15-3 {
	border: none;
	height: 39px;
	left: 506px;
	line-height: 39px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 266px;
}

.ts-8-6 {
	border: none;
	height: 54px;
	left: 0.26%;
	padding: 1px;
	position: absolute;
	top: 416px;
	width: 99.23%;
}

.ts-16 {
	border: none;
	height: 54px;
	position: relative;
	text-align: left;
	width: 776px;
}

.ts-16-1 {
	border: none;
	height: 48px;
	left: 2px;
	line-height: 48px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 200px;
}

.ts-16-2 {
	border: none;
	height: 48px;
	left: 206px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 362px;
}

.ts-16-3 {
	border: none;
	height: 48px;
	left: 572px;
	line-height: 48px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 200px;
}

.ts-5-4 {
	border: none;
	height: 24px;
	left: 2px;
	line-height: 24px;
	padding: 1px;
	position: absolute;
	top: 587px;
	width: 219px;
}

.ts-2-3 {
	background-color: #cc6633;
	border: none;
	height: 60px;
	left: 2px;
	line-height: 60px;
	padding: 1px;
	position: absolute;
	top: 774px;
	width: 1030px;
}
