.gen-18 {
	line-height: 110%;
}

.ts-1 {
	border: none;
	height: 844px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 1042px;
}

.ts-1-1 {
	border: none;
	height: 838px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 1036px;
}

.ts-2 {
	border: none;
	height: 838px;
	position: relative;
	text-align: left;
	width: 1036px;
}

.ts-2-1 {
	border: none;
	height: 149px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 1030px;
}

.ts-3 {
	border: none;
	height: 149px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-3-1 {
	border: none;
	height: 100px;
	left: 0.19%;
	line-height: 100px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 99.42%;
}

.gen-19 {
	vertical-align: middle;
}

.ts-3-2 {
	border: none;
	height: 35px;
	left: 0.19%;
	padding: 1px;
	position: absolute;
	top: 106px;
	width: 99.42%;
}

.ts-4 {
	border: none;
	height: 35px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-4-1 {
	border: none;
	height: 29px;
	left: 0.20%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 14.16%;
}

.ts-4-2 {
	border: none;
	height: 29px;
	left: 14.75%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-4-3 {
	border: none;
	height: 29px;
	left: 43.16%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-4-4 {
	border: none;
	height: 29px;
	left: 71.58%;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-3-3 {
	background-color: #996633;
	border: none;
	height: 0px;
	left: 0.19%;
	line-height: 0px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 145px;
	width: 99.42%;
}

.ts-2-2 {
	border: none;
	height: 615px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 155px;
	width: 1030px;
}

.ts-5 {
	border: none;
	height: 615px;
	position: relative;
	text-align: left;
	width: 1030px;
}

.ts-5-1 {
	border: none;
	height: 581px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 206px;
}

.ts-6 {
	border: none;
	height: 389px;
	margin-top: 96px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-6-1 {
	border: none;
	height: 200px;
	left: 0.97%;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 97.09%;
}

.ts-6-2 {
	border: none;
	height: 18px;
	left: 0.97%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 97.09%;
}

.ts-6-3 {
	border: none;
	height: 18px;
	left: 0.97%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 228px;
	width: 97.09%;
}

.ts-6-4 {
	border: none;
	height: 19px;
	left: 0.97%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 250px;
	width: 97.09%;
}

.ts-6-5 {
	border: none;
	height: 18px;
	left: 0.97%;
	line-height: 18px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 273px;
	width: 97.09%;
}

.ts-6-6 {
	border: none;
	height: 90px;
	left: 0.97%;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 295px;
	width: 97.09%;
}

.ts-5-2 {
	background-color: #999999;
	border: none;
	height: 609px;
	left: 212px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 4px;
}

.ts-5-3 {
	border: none;
	height: 609px;
	left: 220px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 806px;
}

.ts-7 {
	border: none;
	height: 556px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-7-1 {
	border: none;
	height: 38px;
	left: 0.25%;
	line-height: 38px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 99.26%;
}

.ts-7-2 {
	border: none;
	height: 508px;
	left: 0.25%;
	padding: 1px;
	position: absolute;
	top: 44px;
	width: 99.26%;
}

.ts-8 {
	border: none;
	height: 497px;
	position: relative;
	text-align: left;
	width: 800px;
}

.ts-8-1 {
	border: none;
	height: 200px;
	left: 2px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 188px;
}

.ts-8-2 {
	border: none;
	height: 200px;
	left: 194px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 6px;
}

.ts-8-3 {
	border: none;
	height: 200px;
	left: 204px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 188px;
}

.ts-8-4 {
	border: none;
	height: 200px;
	left: 396px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 6px;
}

.ts-8-5 {
	border: none;
	height: 200px;
	left: 406px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 188px;
}

.ts-8-6 {
	border: none;
	height: 200px;
	left: 598px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 6px;
}

.ts-8-7 {
	border: none;
	height: 200px;
	left: 608px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 188px;
}

.ts-8-8 {
	border: none;
	height: 50px;
	left: 2px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 188px;
}

.ts-8-9 {
	border: none;
	height: 50px;
	left: 194px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 6px;
}

.ts-8-10 {
	border: none;
	height: 50px;
	left: 204px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 188px;
}

.ts-8-11 {
	border: none;
	height: 50px;
	left: 396px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 6px;
}

.ts-8-12 {
	border: none;
	height: 50px;
	left: 406px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 188px;
	font-size: 24px;
}

.ts-8-13 {
	border: none;
	height: 50px;
	left: 598px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 194px;
}

.ts-8-14 {
	border: none;
	height: 50px;
	left: 608px;
	line-height: 50px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 206px;
	width: 188px;
}

.ts-8-15 {
	border: none;
	height: 200px;
	left: 2px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 188px;
}

.ts-8-16 {
	border: none;
	height: 200px;
	left: 194px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 6px;
}

.ts-8-17 {
	border: none;
	height: 200px;
	left: 204px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 188px;
}

.ts-8-18 {
	border: none;
	height: 200px;
	left: 396px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 6px;
}

.ts-8-19 {
	border: none;
	height: 200px;
	left: 406px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 188px;
}

.ts-8-20 {
	border: none;
	height: 200px;
	left: 598px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 6px;
}

.ts-8-21 {
	border: none;
	height: 200px;
	left: 608px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 260px;
	width: 188px;
}

.ts-8-22 {
	border: none;
	height: 29px;
	left: 2px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 464px;
	width: 188px;
}

.ts-8-23 {
	border: none;
	height: 29px;
	left: 194px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	top: 464px;
	width: 6px;
}

.ts-8-24 {
	border: none;
	height: 29px;
	left: 204px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	top: 464px;
	width: 188px;
}

.ts-8-25 {
	border: none;
	height: 29px;
	left: 396px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	top: 464px;
	width: 6px;
}

.ts-8-26 {
	border: none;
	height: 29px;
	left: 406px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	top: 464px;
	width: 188px;
}

.ts-8-27 {
	border: none;
	height: 29px;
	left: 598px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	top: 464px;
	width: 6px;
}

.ts-8-28 {
	border: none;
	height: 29px;
	left: 608px;
	line-height: 29px;
	padding: 1px;
	position: absolute;
	top: 464px;
	width: 188px;
}

.ts-5-4 {
	border: none;
	height: 24px;
	left: 2px;
	line-height: 24px;
	padding: 1px;
	position: absolute;
	top: 587px;
	width: 206px;
}

.ts-2-3 {
	background-color: #cc6633;
	border: none;
	height: 60px;
	left: 2px;
	line-height: 60px;
	padding: 1px;
	position: absolute;
	top: 774px;
	width: 1030px;
}
