.gen-35 {
	line-height: 110%;
}

.ts-1 {
	border: none;
	height: 702px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 1024px;
}

.ts-1-1 {
	border: none;
	height: 696px;
	left: 2px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 1018px;
}

.ts-2 {
	border: none;
	height: 696px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-2-1 {
	border: none;
	height: 200px;
	left: 0.20%;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 25.93%;
}

.ts-2-2 {
	border: none;
	height: 97px;
	left: 26.52%;
	line-height: 97px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 46.95%;
}

.gen-36 {
	vertical-align: middle;
}

.ts-2-3 {
	border: none;
	height: 200px;
	left: 73.87%;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 25.93%;
}

.ts-2-4 {
	border: none;
	height: 99px;
	left: 26.52%;
	line-height: 99px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 103px;
	width: 46.95%;
}

.ts-2-5 {
	border: none;
	height: 486px;
	left: 0.20%;
	padding: 1px;
	position: absolute;
	top: 206px;
	width: 99.41%;
}

.ts-3 {
	border: none;
	height: 486px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-3-1 {
	border: none;
	height: 137px;
	left: 0.20%;
	line-height: 137px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 99.41%;
}

.ts-3-2 {
	border: none;
	height: 206px;
	left: 0.20%;
	padding: 1px;
	position: absolute;
	top: 143px;
	width: 99.41%;
}

.ts-4 {
	border: none;
	float: left;
	height: 206px;
	position: relative;
	text-align: left;
	width: 1006px;
}

.ts-4-1 {
	border: none;
	height: 200px;
	left: 2px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 396px;
}

.ts-4-2 {
	border: none;
	height: 200px;
	left: 402px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 200px;
}

.ts-4-3 {
	border: none;
	height: 200px;
	left: 606px;
	line-height: 200px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 396px;
}

.ts-3-3 {
	border: none;
	height: 32px;
	left: 0.20%;
	padding: 1px;
	position: absolute;
	top: 353px;
	width: 99.41%;
}

.ts-5 {
	border: none;
	height: 32px;
	position: relative;
	text-align: left;
	width: 1006px;
}

.ts-5-1 {
	border: none;
	height: 26px;
	left: 2px;
	line-height: 26px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 396px;
}

.ts-5-2 {
	border: none;
	height: 26px;
	left: 402px;
	line-height: 26px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 200px;
}

.ts-5-3 {
	border: none;
	height: 26px;
	left: 606px;
	line-height: 26px;
	padding: 1px;
	position: absolute;
	top: 2px;
	width: 396px;
}

.ts-3-4 {
	border: none;
	height: 37px;
	left: 0.20%;
	padding: 1px;
	position: absolute;
	top: 389px;
	width: 99.41%;
}

.ts-3-5 {
	border: none;
	height: 19px;
	left: 0.20%;
	line-height: 19px;
	padding: 1px;
	position: absolute;
	top: 430px;
	width: 99.41%;
}

.ts-3-6 {
	border: none;
	height: 29px;
	left: 0.20%;
	padding: 1px;
	position: absolute;
	top: 453px;
	width: 99.41%;
}

.ts-6 {
	border: none;
	height: 29px;
	position: relative;
	text-align: left;
	width: 100%;
}

.ts-6-1 {
	border: none;
	height: 23px;
	left: 0.20%;
	line-height: 23px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 14.21%;
}

.ts-6-2 {
	border: none;
	height: 23px;
	left: 14.81%;
	line-height: 23px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-6-3 {
	border: none;
	height: 23px;
	left: 43.24%;
	line-height: 23px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}

.ts-6-4 {
	border: none;
	height: 23px;
	left: 71.57%;
	line-height: 23px;
	padding: 1px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 28.03%;
}
